/*
Assignment 3
Problem 1

SandBoarding
   Author:Khaled Mosel Alkerithi
   Date:   23/10/2021

   Filename:       	Csstxt.css
   Supporting files: body.jpg, block.jpg, h1back.jpg, h1title.gif, sstour.htm 
*/

body{font-family: Verdana Helvetica sans-serif;margin: 0px;background-color: white; background-image: url("body.jpg");text-align: justify; background-repeat: repeat-y;}

#column1{width: 140px;padding-left: 10px; padding-top: 20px; float: left;}

#column2{width: 40%;float: left;border-left: 1px solid black;border-right: 1px solid black;}

#column3{width: 40%; float: left;}

h1{text-align: center; height: 100px;margin: 0px; background-color: white; background-image: url("h1back.jpg");background-repeat:repeat-x; border-bottom:1px black solid;}

h2{text-indent: 30px;background-color: rgb(108,87,12);kerning: 8pt; margin: 0px; font-variant: small-caps;color: white;}

h3{margin-left: 10px;}

p{margin-left: 10px; margin-top: 10px; margin-right: 20px; margin-bottom: 20px;}

blockquote{ float: right;width: 50%; padding: 10px; ;font-size: 12pt; color: black; border: 3px solid black; background-color: (255,255,255);background-image: url(block.jpg) ;background-repeat: repeat-x;
   margin-left: 5px; margin-top: 5px; margin-right: 10px; margin-bottom: 5px;}

#imagetab{background-color: rgb(255,255,255);background-image: url("sand1.jpg");border: 0px;      height: 125px;width: 125px;
}

a{display: block;padding: 2px;margin-left: 0px; margin-top: 5px; margin-right: 5px; margin-bottom: 5px;font-size: 10pt; text-decoration: none;border: 1px solid black;
background-color: rgb(255, 255, 192);}

address{text-align: center;
       font-style: normal;
       font-size: 10pt;
       background-color: white;
       padding: 10px; 
       border-top:1px solid black;
       clear: both;
       
      }